

snippet "sketch(\d+)" "insert lecture sketch" rw
\includesketch${1:[width=.8\textwidth]}{`!p snip.rv = fn.split(".")[0] + "/sketch" + match.group(1)`.png}
endsnippet

priority 100
snippet "csketch(\d+)" "insert centered lecture sketch" wr
\begin{center}
\includesketch${1:[width=.8\textwidth]}{`!p snip.rv = fn.split(".")[0] + "/sketch" + match.group(1)`.png}
\end{center}
$0
endsnippet
